body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 80px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}

.search-container{
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 100px;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    display: flex;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus {
    outline: none;
}

.search i {
    font-size: 25px;
    color: white;
}

.stores-list-container {
    width: 400px;
    position: absolute;
    z-index: 100;
    background-color: white;
    left: 100px;
    top: 270px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
}

.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number {
    color: #B5ADAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-address span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454E53;
    color: #B5ADAD;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-info-container {
    flex-grow: 1;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}