body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 65px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}